a{
	cursor: pointer;
}
/* Menu_region Start */
@media screen and (min-width: 1200px){
	.Menu_region > div > .navbar-default{
		background: #009df2; /* Old browsers */
		background: -moz-linear-gradient(top,  #009df2 0%, #007cc2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009df2), color-stop(100%,#007cc2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #009df2 0%,#007cc2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #009df2 0%,#007cc2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #009df2 0%,#007cc2 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #009df2 0%,#007cc2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009df2', endColorstr='#007cc2',GradientType=0 ); /* IE6-9 */
		border: 0;
		border-radius: 1px;
		margin-bottom: 0px;
		min-height: 24px;
		max-height: 36px;
	}

	.Menu_region > div > .navbar-default > .navbar-header{
		display: none;
	}
	
	.Menu_region > div > .navbar-default > .navbar-collapse{
		padding-left: 0px;
		padding-right: 0px;
	}
		
	.Menu_region > div > .navbar-default > div > ul > li{
		  border-right: solid 1px rgb(0,113,174);
	}

	.Menu_region > div > .navbar-default > div > ul > li > a{
		font-size: 0.9em;
		color: white;
		font-weight: bold;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	.Menu_region > div > .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
	.Menu_region > div > .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
		background: rgb(0,96,147);
		font-size: 0.9em;
		color: white;
		font-weight: bold;		
	}
	
	.Menu_region > div > .navbar-default > div > ul > li > a:focus,
	.Menu_region > div > .navbar-default > div > ul > li > a:hover{
		background: rgb(254,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(0,124,194,1) 0%, rgba(0,157,242,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(0%,rgba(0,124,194,1)), color-stop(100%,rgba(0,157,242,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#009df2',GradientType=0 ); /* IE6-9 */
		font-size: 0.9em;
		color: white;
		font-weight: bold;
	}	
	
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu{
		background-color: rgb(0,124,194);
		padding-top: 0px;
		padding-bottom: 0px;	
		border-radius: 1px;		
		border: 0;
		border-top: solid 1px rgb(0,113,174);
	}
		
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a
	{
		white-space: inherit;
		width: 240px;
		font-size: 0.9em;
		color: white;
		font-weight: bold;
		padding-top: 8px;
		padding-bottom: 8px;	
		border-bottom: solid 1px rgb(0,90,138);
	}

	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
		background-color: rgb(0,146,223);
	}	
		
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a:focus,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a:hover,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a:focus,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a:hover
	{
		background-color: rgb(0,146,223);
		font-size: 0.9em;
		color: white;
		font-weight: bold;	
	}	
	
	/* menu and submenu mouseover start */
	.Menu_region > div > .navbar-default > div > ul > .dropdown:hover > .dropdown-menu {
		display: block;
		z-index: 2000;
	}
	
	.Menu_region > div > .navbar-default > div > ul > .dropdown:hover > .dropdown-menu > .dropdown-submenu:hover > .dropdown-menu {
		display: block;
		z-index: 2000;
	}
	/* menu and submenu mouseover over */
	
	.Show_caret{
		display: none;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.Menu_region > div > .navbar-default{
		background: #009df2; /* Old browsers */
		background: -moz-linear-gradient(top,  #009df2 0%, #007cc2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009df2), color-stop(100%,#007cc2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #009df2 0%,#007cc2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #009df2 0%,#007cc2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #009df2 0%,#007cc2 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #009df2 0%,#007cc2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009df2', endColorstr='#007cc2',GradientType=0 ); /* IE6-9 */
		border: 0;
		border-radius: 1px;
		margin-bottom: 0px;
		min-height: 24px;
		max-height: 36px;
	}

	.Menu_region > div > .navbar-default > .navbar-header{
		display: none;
	}
	
	.Menu_region > div > .navbar-default > .navbar-collapse{
		padding-left: 0px;
		padding-right: 0px;
	}
		
	.Menu_region > div > .navbar-default > div > ul > li{
		  border-right: solid 1px rgb(0,113,174);
	}

	.Menu_region > div > .navbar-default > div > ul > li > a{
		font-size: 0.9em;
		color: white;
		font-weight: bold;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	.Menu_region > div > .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
	.Menu_region > div > .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
		background: rgb(0,96,147);
		font-size: 0.9em;
		color: white;
		font-weight: bold;		
	}
	
	.Menu_region > div > .navbar-default > div > ul > li > a:focus,
	.Menu_region > div > .navbar-default > div > ul > li > a:hover{
		background: rgb(254,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(0,124,194,1) 0%, rgba(0,157,242,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(0%,rgba(0,124,194,1)), color-stop(100%,rgba(0,157,242,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#009df2',GradientType=0 ); /* IE6-9 */
		font-size: 0.9em;
		color: white;
		font-weight: bold;
	}	
	
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu{
		background-color: rgb(0,124,194);
		padding-top: 0px;
		padding-bottom: 0px;	
		border-radius: 1px;		
		border: 0;
		border-top: solid 1px rgb(0,113,174);
	}
		
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a
	{
		white-space: inherit;
		width: 240px;
		font-size: 0.9em;
		color: white;
		font-weight: bold;
		padding-top: 8px;
		padding-bottom: 8px;	
		border-bottom: solid 1px rgb(0,90,138);
	}

	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
		background-color: rgb(0,146,223);
	}	
		
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a:focus,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a:hover,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a:focus,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a:hover
	{
		background-color: rgb(0,146,223);
		font-size: 0.9em;
		color: white;
		font-weight: bold;	
	}	
	
	/* menu and submenu mouseover start */
	.Menu_region > div > .navbar-default > div > ul > .dropdown:hover > .dropdown-menu {
		display: block;
		z-index: 2000;
	}
	
	.Menu_region > div > .navbar-default > div > ul > .dropdown:hover > .dropdown-menu > .dropdown-submenu:hover > .dropdown-menu {
		display: block;
		z-index: 2000;
	}
	/* menu and submenu mouseover over */

	.navbar > .navbar-header{
		display: none;
	}
	
	.Show_caret{
		display: none;
	}	
}

@media screen and (min-width: 768px) and (max-width: 992px){
	.navbar > .navbar-header{
		display: none;
	}
	
	.Menu_region > div > .navbar-default{
		background: #009df2;
		background: -moz-linear-gradient(top, #009df2 0%, #007cc2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009df2), color-stop(100%,#007cc2));
		background: -webkit-linear-gradient(top, #009df2 0%,#007cc2 100%);
		background: -o-linear-gradient(top, #009df2 0%,#007cc2 100%);
		background: -ms-linear-gradient(top, #009df2 0%,#007cc2 100%);
		background: linear-gradient(to bottom, #009df2 0%,#007cc2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009df2', endColorstr='#007cc2',GradientType=0 );
		border: 0;
		border-radius: 1px;	
	}
	
	.Menu_region > div > .navbar-default > .navbar-collapse{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.Menu_region > div > .navbar-default > div > ul > li > a{
		font-size: 0.9em;
		color: white;
		font-weight: bold;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	.Menu_region > div > .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
	.Menu_region > div > .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
		background: rgb(0,96,147);
		font-size: 0.9em;
		color: white;
		font-weight: bold;		
	}	
	
	.Menu_region > div > .navbar-default > div > ul > li > a:focus,
	.Menu_region > div > .navbar-default > div > ul > li > a:hover{
		background: rgb(254,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(0,124,194,1) 0%, rgba(0,157,242,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(0%,rgba(0,124,194,1)), color-stop(100%,rgba(0,157,242,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(0,124,194,1) 0%,rgba(0,157,242,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#009df2',GradientType=0 ); /* IE6-9 */
		font-size: 0.9em;
		color: white;
		font-weight: bold;
	}	
	
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu{
		background-color: rgb(0,124,194);
		padding-top: 0px;
		padding-bottom: 0px;	
		border-radius: 1px;		
		border: 0;
		border-top: solid 1px rgb(0,113,174);
	}
		
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a
	{
		white-space: inherit;
		width: 240px;
		font-size: 0.9em;
		color: white;
		font-weight: bold;
		padding-top: 8px;
		padding-bottom: 8px;	
		border-bottom: solid 1px rgb(0,90,138);
	}

	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
		background-color: rgb(0,146,223);
	}	
		
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a:focus,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a:hover,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a:focus,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a:hover
	{
		background-color: rgb(0,146,223);
		font-size: 0.9em;
		color: white;
		font-weight: bold;	
	}	
	
	/* menu and submenu mouseover start */
	.Menu_region > div > .navbar-default > div > ul > .dropdown:hover > .dropdown-menu {
		display: block;
		z-index: 2000;
	}
	
	.Menu_region > div > .navbar-default > div > ul > .dropdown:hover > .dropdown-menu > .dropdown-submenu:hover > .dropdown-menu {
		display: block;
		z-index: 2000;
	}
	/* menu and submenu mouseover over */

	.Show_caret{
		display: none;
	}		
}

@media screen and (max-width: 768px){

	.navbar-header{
		border-bottom: solid 1px #ddd;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#eaeaea)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 99%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */		
	}

	.Menu_region > div > .navbar > .navbar-collapse > .navbar-nav{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.navbar-default{
		border-bottom: solid 1px #ddd;
		top: 0;
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	
	.navbar-collapse{
		  max-height: 340px;
	}
	
	.navbar-toggle{
		border-bottom: solid 1px #ddd;
		background-color: white;
	}
	
	.Language_button{
		font-weight: bold;
		padding-top: 6px;
		padding-bottom: 6px;	
	}
	
	#Mobile_Logo {
		width: 64px;
		height: 46px;
		float: left;
	}	
	
	.Menu_region > div > .navbar-default > div > ul > li > a{
		font-weight: bold;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#eaeaea)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 99%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */		
	}
	
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a{
		font-weight: bold;
	}
	
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > li > a,
	.Menu_region > div > .navbar-default > div > ul > li > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a
	{
		white-space: inherit;
	}		
}
/* Menu_region End */