.Tree_region{
	border: solid 1px #C6C6C6;
	border-radius: 12px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom: 10px;
}

@media screen and (min-width: 992px){	
	.Tree_region{
		margin: 0px;
		margin-bottom: 10px;
	}
}

