ul.Header_list{
	font-size: 9px;
	float: right;
	margin-bottom: 0px;
	padding-top: 12px;
}

ul.Header_list > li {
	line-height: 1.2em;
	list-style-type: none;
	display: inline;
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	border-right: #a9c7da 1px dotted;
	padding: 2px 8px 2px 6px;	
}
	
ul.Header_list > li > a{
text-decoration: none;
}