.Site_search_region{
	padding-top: 40px;
	margin-right: 0px;
}

.Site_search_region > .Site_search_region_text{
	padding-left: 15px;
	padding-right: 15px;
}

.Site_search_region > .Site_search_region_text > .Site_search_text{
	height: 22px;
}

.Site_search_region > .Site_search_region_btn{
	padding-left: 0px;
	padding-right: 15px;
}

.Site_search_region_btn > .Site_search_btn{
	background: transparent url(../img/sprite.png) -5px -74px no-repeat;
	width: 23px;
	height: 22px;
	outline: none;
	border: 0;
	vertical-align: middle;	
}

.Site_search_region_btn > .Site_search_btn:hover{
	background: transparent url(../img/sprite.png) -5px -96px no-repeat;
	width: 23px;
	height: 22px;
	outline: none;
	border: 0;
	vertical-align: middle;	
}