/* Banner_region Start */

.owl-carousel{
	/*height: 0;*/
	float: right;
}

.Banner_player_region {
	background: transparent;
	padding: 10px;
	left: 0px;
	float: left;
	position: absolute;
	z-index: 1000;
	margin-left: 15px;
}	

@media screen and (min-width: 1200px){
	.owl-carousel .owl-dots .owl-dot { 
		height: 20px; 
		float: left; 
		font-weight: bold;
		color: rgb(0, 124, 194);
		background: white; 
		border: 0;
		border-bottom: solid 1px #e4e4e4;
	}

	.owl-carousel .owl-dots .owl-dot:hover { 
		height: 20px; 
		float: left; 
		font-weight: bold;
		color: white;
		background: rgb(0, 124, 194);
	}
	
	.owl-carousel .owl-dots .owl-dot span { 
		display: block; 
		width: 100%; 
		height: 100%; 
		text-align: center; 
	}
	
	.owl-carousel .owl-dots .active { 
		background: #69c; 
		font-weight: bold;
		color: white;
		background-color: rgb(108, 179, 63);		
	}
	
	.owl-dots{
		margin-left: 0px;
		margin-right: 0px;
		background-color: white;
	}		
	
	.Banner_text{
		position: absolute; 
		bottom: 13px;
		width: 520px;
		/*height: 47px;*/
		padding: 0px 0px 0px 18px;		
		background-image: url(../img/transparent_background.png);	
	}
	
	.Banner_title{
		padding: 0px;
		margin: 0px;
		font-size: 22px;
		color: #fff;	
	}
	
	.Banner_description{
		padding: 0px;
		margin: 0px;
		font-size: 15px;
		color: #fff;	
	}
	
	.owl-item > .item > .owl-video-wrapper{
		width: 68.1%;
		height: 225px;
	}

	.owl-item > .item > .owl-video-wrapper > .owl-video-tn{
		height: 225px;
	}		
}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.owl-carousel .owl-dots .owl-dot { 
		height: 20px; 
		float: left; 
		font-weight: bold;
		color: rgb(0, 124, 194);
		background: white; 
		border: 0;
		border-bottom: solid 1px #e4e4e4;
	}

	.owl-carousel .owl-dots .owl-dot:hover { 
		height: 20px; 
		float: left; 
		font-weight: bold;
		color: white;
		background: rgb(0, 124, 194);
	}
	
	.owl-carousel .owl-dots .owl-dot span { 
		display: block; 
		width: 100%; 
		height: 100%; 
		text-align: center; 
	}
	
	.owl-carousel .owl-dots .active { 
		background: #69c; 
		font-weight: bold;
		color: white;
		background-color: rgb(108, 179, 63);		
	}
	
	.owl-dots{
		margin-left: 0px;
		margin-right: 0px;
		background-color: white;
	}
	
	.Banner_text{
		position: absolute; 
		bottom: 13px;
		width: 480px;
		/*height: 47px;*/
		padding: 0px 0px 0px 18px;		
		background-image: url(../img/transparent_background.png);	
	}
	
	.Banner_title{
		padding: 0px;
		margin: 0px;
		font-size: 22px;
		color: #fff;	
	}
	
	.Banner_description{
		padding: 0px;
		margin: 0px;
		font-size: 15px;
		color: #fff;	
	}	
	
	.owl-item > .item > .owl-video-wrapper{
		width: 68%;
		height: 218px;
	}

	.owl-item > .item > .owl-video-wrapper > .owl-video-tn{
		height: 218px;
	}		
	
}

@media screen and (min-width: 768px) and (max-width: 992px){
/*
	.owl-carousel > .owl-dots > .col-xs-4,
	.owl-carousel > .owl-dots > .col-sm-4{
		width: 32%;
	}
*/	
	.owl-carousel .owl-dots .owl-dot { 
		float: left; 
		font-weight: bold;
		color: rgb(0, 124, 194);
		background: white; 
		border: 0;
		border: solid 1px #e4e4e4;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.owl-carousel .owl-dots .owl-dot:hover { 
		float: left; 
		font-weight: bold;
		color: white;
		background: rgb(0, 124, 194);
	}
	
	.owl-carousel .owl-dots .owl-dot span { 
		display: block; 
		width: 100%; 
		height: 100%; 
		text-align: center; 
	}
	
	.owl-carousel .owl-dots .active { 
		background: #69c; 
		font-weight: bold;
		color: white;
		background-color: rgb(108, 179, 63);		
	}
	
	.owl-dots{
		margin-left: 0px;
		margin-right: 0px;
		background-color: white;
	}	

	.Banner_text{
		display: none;
	}
	
	.Banner_title{	
	}
	
	.Banner_description{	
	}	

	.owl-item > .item > .owl-video-wrapper > .owl-video-tn{
		height: 167px;
	}	
}

@media screen and (max-width: 768px){
/*
	.owl-carousel > .owl-dots > .col-xs-4,
	.owl-carousel > .owl-dots > .col-sm-4{
		width: 32%;
	}
*/
	.owl-carousel .owl-dots .owl-dot { 
		float: left; 
		font-weight: bold;
		color: rgb(0, 124, 194);
		background: white; 
		border: 0;
		border: solid 1px #e4e4e4;
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.owl-carousel .owl-dots .owl-dot:hover { 
		float: left; 
		font-weight: bold;
		color: white;
		background: rgb(0, 124, 194);
	}
	
	.owl-carousel .owl-dots .owl-dot span { 
		display: block; 
		width: 100%; 
		height: 100%; 
		text-align: center; 
	}
	
	.owl-carousel .owl-dots .active { 
		background: #69c; 
		font-weight: bold;
		color: white;
		background-color: rgb(108, 179, 63);		
	}
	
	.owl-dots{
		margin-left: 0px;
		margin-right: 0px;
		background-color: white;
	}
	
	.Banner_text{
		display: none;
	}
	
	.Banner_title{	
	}
	
	.Banner_description{	
	}

	.owl-item > .item > .owl-video-wrapper{

	}

	.owl-item > .item > .owl-video-wrapper > .owl-video-tn{
		min-height: 185px;
	}		
	
	.owl-item > .item{
		/*min-height: 185px;*/
	}
	
	.owl-item > .item > img{
		width: 138%;
	}
}

/* Banner_region End */



