@media screen and (min-width: 1200px){

}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.Web_big_button_region > div{
		padding-left: 14px;
		padding-right: 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px){
	.Mob_big_button_region > div > div{
		font-weight: bold;
		width: 20%;
		float: left;
	}

	.Mob_big_button_region > div > div > span{
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.Mob_big_button_region > div > div > span > a{
		color: white;
		text-decoration: none;
		display: block;	
		padding-top: 24px;
		padding-bottom: 24px;
		font-size: 16px;
	}
	  
	.Mob_CEF{
		background-color:rgb(15,43,91);
	}

	.Mob_CPD{
		background-color:rgb(0,174,239);
	}

	.Mob_QF{
		background-color:rgb(237,114,170);
	}

	.Mob_Top_up{
		background-color:rgb(255,194,34);
	}

	.Mob_Deadline_Soon{
		background-color:rgb(186,196,5);
	}

	.Mob_CEF > span > a:hover{
		background-color:rgb(108, 179, 63);
	}

	.Mob_CPD > span > a:hover{
		background-color:rgb(108, 179, 63);
	}

	.Mob_QF > span > a:hover{
		background-color:rgb(108, 179, 63);
	}

	.Mob_Top_up > span > a:hover{
		background-color:rgb(108, 179, 63);
	}

	.Mob_Deadline_Soon > span > a:hover{
		background-color:rgb(108, 179, 63);
	}
}

@media screen and (max-width: 768px){
	.Mob_big_button_region > div > div{
		font-weight: bold;
		width: 20%;
		float: left;
	}

	.Mob_big_button_region > div > div > span{
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.Mob_big_button_region > div > div > span > a{
		color: white;
		text-decoration: none;
		display: block;	
		padding-top: 24px;
		padding-bottom: 24px;
		font-size: 16px;
	}
	  
	.Mob_CEF{
		background-color:rgb(15,43,91);
	}

	.Mob_CPD{
		background-color:rgb(0,174,239);
	}

	.Mob_QF{
		background-color:rgb(237,114,170);
	}

	.Mob_Top_up{
		background-color:rgb(255,194,34);
	}

	.Mob_Deadline_Soon{
		background-color:rgb(186,196,5);
	}

	.Mob_CEF > span > a:hover{
		background-color:rgb(108, 179, 63);
	}

	.Mob_CPD > span > a:hover{
		background-color:rgb(108, 179, 63);
	}

	.Mob_QF > span > a:hover{
		background-color:rgb(108, 179, 63);
	}

	.Mob_Top_up > span > a:hover{
		background-color:rgb(108, 179, 63);
	}

	.Mob_Deadline_Soon > span > a:hover{
		background-color:rgb(108, 179, 63);
	}
}