.Programme_result_list_region{
	margin: 0px;
	margin-top: -1px;
}

.Programme_result_list_item{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 1px #C6C6C6;
	margin-bottom: -1px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

.member_icon{
	max-width: 20px;
	max-height: 20px;
	margin-right: 5px;
	float: left;
}

.History_header{
	color: white;
	background-color: #505050;
	padding-top: 2px;
	padding-bottom: 2px;
}

.History_body{
	background-color: #FFFF99;
	border: solid 1px #C6C6C6;
	margin-bottom: -1px;
}

.History_item{
	padding: 0px;
	padding-bottom: 3px;
}

@media screen and (min-width: 1200px){
	.Programme_result_list_item_left{
		padding-left: 5px; 
		padding-right: 5px;	
		width: 86%;
		float: left;
	}
}

@media screen and (min-width: 531px) and (max-width: 1199px){
	.Programme_result_list_item_left{
		padding-left: 5px; 
		padding-right: 5px;	
		width: 82%;
		float: left;
	}
}		
		
@media screen and (min-width: 476px) and (max-width: 530px){
	.Programme_result_list_item_left{
		padding-left: 5px; 
		padding-right: 5px;	
		width: 80%;
		float: left;
	}
}

@media screen and (min-width: 394px) and (max-width: 475px){
	.Programme_result_list_item_left{
		padding-left: 5px; 
		padding-right: 5px;	
		width: 75.5%;
		float: left;
	}
}
	
@media screen and (max-width: 393px){
	.Programme_result_list_item_left{
		padding-left: 5px; 
		padding-right: 5px;	
		width: 70%;
		float: left;
	}
}

.Programme_result_list_item_right{
	padding-top: 0px;
	padding-left: 0px; 
	padding-right: 4px;
	padding-bottom: 10px;
	width: 76px; 
	float: right;
}		

.Programme_result_list_item_right > .Least_3,.Programme_result_list_item_right > a > .Least_3{
	float: right;
	margin-left: 32px;
}

.Programme_link{
	margin-bottom: 10px;
}

.Programme_result_list_item_content{
	margin: 0px;
}

.Programme_result_list_item_content_row{
	padding: 0px;
}

.Content_left{
	color: #0E4FB7;
	font-weight: bold;
}

.Content_right{
}

.Content_programme_title{
	color: #0E4FB7;
	font-weight: bold;			
}

.Content_programme_code{
	font-weight: bold;
}

.Content_programme_type{
}

.Content_commencement_date{
}

.Content_class_location{
}

.Programme_icon{
	width: 30px; 
	height: 30px; 
	margin: 2px;
}